body {
  text-align: center;
  background-color: white;
}

.reason {
  padding-right: 40px;
  padding-left: 40px;
}

nav {
  display: flex;
  height: 150px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.logo {
  display: flex;
}

button {
  background-color: lightblue;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

nav ul {
  display: inline-block;
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 150px;
  padding: 15px;
}

nav li a {
  text-decoration: none;
  width: 150px;
  display: block;
  
}

.banner {
  
}