body {
  text-align: center;
  background-color: white;
}

.reason {
  padding-right: 40px;
  padding-left: 40px;
}

nav {
  display: flex;
  height: 150px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.logo {
  display: flex;
  width:350px;
  height:300px;
}

button {
  background-color: lightblue;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

nav ul {
  display: inline-block;
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 150px;
  padding: 15px;
}

nav li a {
  text-decoration: none;
  width: 150px;
  display: block;
  
}

.banner {
  background-image: url("https://s.yimg.com/os/creatr-images/2020-06/f7e9c160-baff-11ea-abff-5f3ac9f3a555");
  height: 200px;
  text-align: center;
  padding-top: 100px;
  font-size: 100px;
  background-size: cover;
  background-attachment: fixed;
  color: blue;
  margin:0;
}

.images {
  width: 600px;
  height: 550px;
}

.mvp {
  background-color: lightblue;
  margin: 0;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
}

hr {
  margin: 0;
  border: 0;
}